/* Navigation */
.navigation .ui.secondary.pointing.menu .item {
    color: black !important;
    margin: 0 1em 0 0;
    padding-right: .7em;
    padding-left: .7em;
    border-radius: 1em;
}
.navigation .ui.secondary.pointing.menu .active.item {border-color: white;}
.navigation .ui.secondary.pointing.menu .active.item:hover {border-color: white;}
.ui.secondary.segment {background: #add8e6;}
.ui.vertical.segment {border-bottom: none;}
ui.secondary.pointing.menu .dropdown.item:hover, .ui.secondary.pointing.menu .link.item:hover, .ui.secondary.pointing.menu a.item:hover {
    background: white;
}
